{% extends '::base-admin.html.twig' %}
{% block body_id 'post-show' %}

{% block body %}
    <div class="row">
        <div class="col-sm-9">
            <div class="box box-default box-solid">
                <div class="box-header">
                    <h3 class="box-title product-description" title="{{ document.name }}">{{ document.name }}</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    {{ dump(app.request.attributes.get('_controller')) }}
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}