{% extends 'base-admin.html.twig' %}

{% block title %}{{ status_code ~ ' ' ~ status_text }}{% endblock %}

{% block body %}
    <div class="error-page">
        <h2 class="headline text-muted">{{ status_code }}</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-muted"></i> Oops! {{ status_text }}</h3>

            <p>
                You do not have permission to access this area.
                Meanwhile, you may <a href="{{ path('admin_dashboard') }}">return to dashboard</a>.
            </p>
        </div>
    </div>
    <!-- /.error-page -->
{% endblock %}