{% extends "FOSUserBundle::layout.html.twig" %}
{% block admin_body_class 'lockscreen' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block session_message %} {% endblock %}

{% block fos_user_content %}
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            {{ 'reset_password_success'|trans({}, 'general') }}
        </div>
    </div>
{% endblock %}