{% extends '::base-admin.html.twig' %}
{% block body_id 'post-new' %}

{% block body %}
    <div class="row">
        <div class="col-sm-9">
            {{ form_start(form) }}
            <div class="box box-success box-solid">
                <div class="box-header">
                    <h3 class="box-title">Post</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    {{ form_widget(form) }}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-success pull-right"><i class="fa fa-save"></i> Save</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}